body{
font-family: Muli;
}
/*for containeers*/
.cont1,.cont2,.cont3{
    margin-top: 150px;
    margin-bottom: 150px;
}
/*header class*/
.head{
    background: url(./img/navback.png);
    height: 907px;
}
/*footer class*/
.foot{
    background-color: #003049;
}
/*toalign notify button on g=headr and foter*/
@media(max-width : 600px){
    .emailinp{
        width: 125px;
         height: 60px;
         font-size: 18px; 
         color: #003049;
         border-radius: 20px 20px 20px 0px;
    
       }
       .notbutt{
        font-size: 18px; 
        width: 125px; 
        height: 60px; 
        color: #ffffff; 
         background-color: #F77F00; 
         border-radius: 0px 0px 20px 0px;
         margin-left: -25px;
       } 
}
@media(min-width : 600px){
   .emailinp{
    width: 275px;
     height: 60px;
     font-size: 24px; 
     color: #003049;
     border-radius: 20px 20px 20px 0px;

   }
   .notbutt{
    font-size: 24px; 
    width: 199px; 
    height: 60px; 
    color: #ffffff; 
     background-color: #F77F00; 
     border-radius: 0px 0px 20px 0px;
     margin-left: -25px;
   }
}
